/* Bordered form */
.SignIn.form {
  border: 3px solid #ffffff;
  padding: 0  580px;
}

.SignIn{ 
    position: relative;
    text-align: left;    
}
/* Full-width inputs */
.signin-form-group >input[type=text], .signin-form-group >input[type=password] {
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
 background-color: #ba9d5e6b;
  border: 0.5px solid rgba(0, 0, 0, 0.178);
  box-sizing: border-box;
  border-radius: 5px;
  color: #282111;
  outline-color: #ba9d5e6b;
}
.signin-form-group >p {
  color: #bd0000;
}

/* Set a style for all buttons */
.button {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  margin: middle;
  border: none;
  cursor: pointer;
  width: 100%;
}





/* Add padding to containers */
.signcontainer {
  padding-left: 80%;
  padding-top: 28.5%;
  display: grid;
  position: absolute;
  grid-template-columns: repeat(1, auto);
  
 }
