.btn-confirm {
  height: 70px;
  width: 40%;
  background-color: #453a2e;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.5px;
  font-size: 20px;
  color: #fff;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
