.flightdetailsbutton {
    background-color: #000000;
    color: white;
    padding: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
   -moz-osx-font-smoothing: grayscale;
   border-radius: 0.3rem;
}
.flightdetailsbutton:hover{
    background-color: #ffffff;
    transition: all 0.2s ease-out;
    color: #000000;
}
.flightDetailsCard{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 7px;
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;  
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}