*{
  margin: 0;
  padding: 0;
}

.reservationDetailsContainer{
  justify-content: center;
  border-color: rgba(0, 0, 255, 0);
}
.reservationDetailsCard {
  font-family: "Courier New", Courier, monospace;
  min-width: 950px;
  min-height: 650px;
  position: absolute;
  border-color: rgba(0, 0, 255, 0);

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/reservationDetails.jpg");
    background-position: center center;
    background-size: 120% 110%;
}

.reservationDetailsCard-body {
    font-size: 20px;
}

.reservationDetailsCard-header {
    color: black;
    text-align: center;
    margin: 80px 0px 40px 0px;
    text-decoration: underline;
    font-weight: bold;
}

.underline{
  font-weight: bold;
  text-decoration: underline;
}

.reservationdetails{
  position: absolute;
  display: flex;
  justify-content: center;
}

.confirmReservationbutton {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  margin: middle;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-top: 50px;
  margin-left: 150px;
}
.confirmReservationbutton:hover {
  background-color: #916632a1;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: middle;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-top: 50px;
  margin-left: 150px;
}
/* .btn-confirm {
  height: 70px;
  width: 40%;
  background-color: #453a2e;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.5px;
  font-size: 20px;
  color: #fff;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
} */
/* .btn-confirm {
  height: 70px;
  width: 40%;
  background-color: #453a2e;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.5px;
  font-size: 20px;
  color: #fff;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.btn-confirm {
  height: 70px;
  width: 40%;
  background-color: #453a2e;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.5px;
  font-size: 20px;
  color: #fff;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
} */
