.flightCard{
        border: 0.1rem #c0c0c0 solid;
        background-color: #f8f8f8;
        border-radius: 0.5rem;
        margin: 1rem;  
        font-family: 'Courier New', Courier, monospace;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.flightCard-body{
    padding: 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 30px;
}

.Flightbtns{
    position:relative;
    left: 1400px;
    right: 100px;
}


.col2{
    text-align: center;
    position: relative;
}

.btn--flightcard {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    margin: middle;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 30px;
   text-align: center;
  }
  .flightCard:hover {
    background-color: #b89768; 
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-out;
  }
