.flightsearchBar{
    width: 120px;
    padding: auto;
    position: relative;
    margin: middle;
    left: 500px;
    
}

.createButtonViewall{
        background-color: #705c40;
        color: rgb(250, 249, 249);
        padding: 15px 14px 50px 0;
        margin: middle;
        border: none;
        cursor: pointer;
        width: 240px;
        height: 60px;
        text-align: center;
        /* text-decoration: none; */
        text-decoration-color: #ffffff;
        position: relative;
        left: 1400px;
       
        
      }
.createButtonViewall:hover {
        background-color: #ffffff; /* Green */
        color: rgb(2, 2, 2);
        text-align: center;
        text-decoration: none;
        
      }
      .searchButton{
        border: none;
        background-color: beige;
        text-align: center;
        cursor:pointer;
        width: 60px;
        height: 45px;
        color: black;
    }
    
    .searchButton:hover {
        background-color: #705c40; 
        color: rgb(2, 2, 2);
        text-align: center;
        text-decoration: none;
        
      }

      .searching{
        position: absolute;
        left: 750px;
        white-space: nowrap;
        overflow-x: hidden;
        display: table;
        width: 500px;
    }
    

.searchBar{
    width: 200px;
    display: flex;
    position: relative;
}      
.searchButton{
    display: inline-block;
}
.advancedSearch{
    display: inline-block;
}



.flightcontainer {

    background-image: url("/images/signup.jpg");
    background-position: center center;
    background-size: 120% 110%;
    
   }